.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table {
    min-width: 1024px;
}

.table .header {
    font-weight: bold;
    font-size: 110%;
}

.table [sort] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.table .asc, .table .desc {
    position: relative;
}

.table .asc:after, .table .desc:after {
    position: absolute;
}

.table .asc:after {
    content: '\2193';
}

.table .desc:after {
    content: '\2191';
}

.table .item > div {
    width: 10%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
}

.table .item > *:first-child {
    width: 50%;
}

.table .item {
    padding: 0.5em 0;
    border-bottom: 1px solid #000;
}

.table .item:after {
    content: '';
    display: table;
    clear: both;
}

.table .item:nth-child(2n) {
    background-color: aliceblue;
}

.table .body .item {
    position: relative;
    cursor: pointer;
}

.table .deleteBtn {
    display: none;
}

.table .item:hover .deleteBtn {
    display: block;
}

.table .deleteBtn {
    left: 0;
    position: absolute;
    font-size: 90%;
    cursor: pointer;
}

.table .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.approval-icon.approved:after {
    content: 'Approved';
    color: green;
}

.approval-icon.pending:after {
    content: 'Pending';
    color: gray;
}

.approval-icon.rejected:after {
    content: 'Rejected';
    color: red;
}

.ListContainerView .term {
    width: 20em;
}

.ListContainerView .prev-page, .ListContainerView .next-page {
    margin-right: 1em;
    font-size: 180%;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.ListContainerView .prev-page.disabled, .ListContainerView .next-page.disabled {
    pointer-events: none;
    color: gray;
    opacity: 0.5;
}

.ListContainerView .prev-page:after {
    content: '\2039';
}

.ListContainerView .next-page:after {
    content: '\203A';
}

.ListContainerView .total {
    margin-top: 1em;
    font-weight: bold;
    font-style: italic;
}

.ListContainerView .total > *:not(:last-child) {
    margin-right: 2em;
}

.itemInfoDialog .overflow {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
}

.itemInfoDialog .dialog {
    top: 50%;
    left: 50%;
    min-width: 30%;
    padding: 1em;
    position: absolute;
    background-color: #e2e2e2;
    border: 1px solid gray;
    font-size: 95%;
    transform: translate(-50%, -50%);
}

.itemInfoDialog .label-value:not(:last-child) {
    margin-bottom: 0.5em;
}

.itemInfoDialog .label-value > *:first-child {
    font-weight: bold;
}

.itemInfoDialog .label-value > *:first-child:after {
    content: ':';
}

.itemInfoDialog .network-icon {
    vertical-align: top;
}