<!DOCTYPE html>
<html lang="en">
<head>
    <script src="lib/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="lib/underscore-1.8.3.min.js" type="text/javascript"></script>
    <script src="lib/backbone-1.3.3.min.js" type="text/javascript"></script>
    <script src="bb_views/base/component.sociview.js" type="text/javascript"></script>
    <script src="lib/moment-2.18.1.min.js" type="text/javascript"></script>
    <script src="lib/moment-timezone-0.5.13.min.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>SOCi Takehome</title>
</head>
<body>


<!-- Import your styles here -->
<link rel="stylesheet" type="text/css" href="css/styles.css">
<!-- -->


<!-- Add your Backbone View templates here -->
<script type='text/template' id='ListContainerView'>
    <label>Search: <input class="term" placeholder="Enter at least 3 characters" /></label>
    <div class="table">
        <div class="header item">
            <div>Message</div>
            <div sort="scheduledDate">Scheduled Date</div>
            <div sort="creationDate">Creation Date</div>
            <div sort="author">Author</div>
            <div>Network</div>
            <div>Approval</div>
        </div>
        <div class="list"></div>
    </div>
</script>

<script type='text/template' id='ListView'>
    <div class="body">
        <% _.each(data, function(item) { %>
        <div class="item" itemId="<%= item.id%>">
            <div class="message"><%= item.message %></div>
            <div><%= helpers.renderDate(item.schedule) %></div>
            <div><%= helpers.renderDate(item.created_at) %></div>
            <div><%= item.created_by_name %></div>
            <div><%= item.network %></div>
            <div class="approval-icon <%= helpers.approvalStatus(item.customer_approved, item.manager_approved) %>"></div>
            <button class="deleteBtn">Delete</button>
        </div>
        <% }); %>
    </div>
    <div class="paging">
        <span class="prev-page <%= data.paging.page === 0 ? 'disabled' : '' %>" title="Previous page"></span>
        <span class="next-page <%= data.paging.page >= data.paging.pagesCount - 1 ? 'disabled' : '' %>" title="Next page"></span>
        <span>Page <%= data.paging.page + 1 %> of <%= data.paging.pagesCount %></span>
    </div>
    <div class="total">
        <span>Total: <%= data.paging.count %></span>
        <span>Approved: <%= data.approval.approved %></span>
        <span>Pending: <%= data.approval.pending %></span>
        <span>Rejected: <%= data.approval.rejected %></span>
    </div>
</script>

<script type='text/template' id='ItemInfoDialogView'>
    <div class="overflow">
    <div class="dialog">
        <div class="label-value">
            <div>Message</div>
            <div><%= data.message %></div>
        </div>
        <div class="label-value">
            <div>Scheduled Date</div>
            <div><%= helpers.renderDate(data.schedule) %></div>
        </div>
        <div class="label-value">
            <div>Network Type</div>
            <div><%= data.network %> <img height="30" width="30" class="network-icon" src="<%= data.network_thumb %>" alt="<%= data.network_thumb %>" /></div>
        </div>
        <div class="label-value">
            <div>Network Name</div>
            <div><%= data.network_name %></div>
        </div>
        <div class="label-value">
            <div>Creation Date</div>
            <div><%= helpers.renderDate(data.created_at) %></div>
        </div>
        <div class="label-value">
            <div>Author</div>
            <div><%= data.created_by_name %></div>
        </div>
        <div class="label-value">
            <div>Approval</div>
            <div class="approval-icon <%= helpers.approvalStatus(data.customer_approved, data.manager_approved) %>"></div>
        </div>
    </div>
    </div>
</script>
<!-- -->


<!-- Import your Backbone data/view classes here -->
<script src="bb_models/ListItemModel.js" type="text/javascript"></script>
<script src="bb_collections/ListItemCollection.js" type="text/javascript"></script>
<script src="bb_views/ItemInfoDialogView.js" type="text/javascript"></script>
<script src="bb_views/ListView.js" type="text/javascript"></script>
<script src="bb_views/ListContainerView.js" type="text/javascript"></script>
<!-- -->


<script type="text/javascript">
    $(document).ready(function () {
        // Instantiate and render your Backbone views from here
        $('.takehome_body').append(new ListContainerView({
            collection: new ListItemCollection()
        }).render().el);
    });
</script>


<div class="takehome_body">
    <!-- Render your item list here -->
</div>
</html>